

.students-container, .payments-container {
    display: flex;
    justify-content: center;
}

.students-list, .payment-list {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #EEFBFB;
}

.session-list{
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.student-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #4DA8DA;
    padding: 10px;
}

.payment-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #4DA8DA;
    padding: 10px;
}

.session-item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 10px;
}

.session-info {
    margin-top: 3px;
}

.session-overview {
    display: flex;
    justify-content: space-around;
}

.payment-item:hover {
    cursor: pointer;
}


.student-name, .payment-nb {
    font-size: 20px;
}

.rate-text {
    display: inline-block;
}

.rate-input {
    font-size: 20px;
    width: 40%;
    margin-left: 5px;
}

button {
    background-color: transparent;
    border-style: none;
    outline: none;
}

button:after {
    background-color: transparent;
    border-style: none;
    outline: none;
}

button:hover {
    cursor: pointer;
}

input[type=text] {
    font-size: 20px;
    width: 80%;
}

.saveBtn {
    padding-top: 51px;
}

.buttons {
    padding-top: 15px;
}

.addBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    background-color: #203647;
}

.addBtnIcon {
    padding-top: 2px;
}

.backBtn {
    position: fixed;
    border-radius: 50%;
    background-color: #12232E;
    width: 50px;
    height: 50px;
    top: 130px;
    left: 10px;

}

.deletePaymentBtn{
    margin-top: 10px;
}

.students-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-button {
    transition-duration: 0.4s;
    background-color: #203647;
    color: #EEFBFB;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
}

.popup-button:hover {
    background-image:  linear-gradient(to right, #4DA8DA , #007CC7);
}

