@import url(//db.onlinewebfonts.com/c/f42a40f289fd237da5d2fd13fee2cc1e?family=Diodrum);
@font-face {font-family: "Diodrum"; src: url("//db.onlinewebfonts.com/t/f42a40f289fd237da5d2fd13fee2cc1e.eot"); src: url("//db.onlinewebfonts.com/t/f42a40f289fd237da5d2fd13fee2cc1e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f42a40f289fd237da5d2fd13fee2cc1e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f42a40f289fd237da5d2fd13fee2cc1e.woff") format("woff"), url("//db.onlinewebfonts.com/t/f42a40f289fd237da5d2fd13fee2cc1e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f42a40f289fd237da5d2fd13fee2cc1e.svg#Diodrum") format("svg"); }
@font-face {
  font-family: 'AvenirPro';
  src: url(./fonts/avenir-lt-55-roman.ttf) format('truetype');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'AvenirPro';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}