

body{
    color:#12232E;
}

header{
    padding-bottom: 130px;
}

@media print {
    header, .backBtn, .addBtn, .deleteBtn {
        display: none;
    }
}

main {
    margin: 15px;
}

#navbar {
    overflow: hidden;
    background-color: #12232E;
    position: fixed;
    top: 0;
    width: 100%;
    padding-left: 15px;
    font-family: 'Diodrum';
}

#navbar .link, #navbar h1 {
    text-align: center;
    text-decoration: none;
    color: #EEFBFB;
}

.navlink {
    margin-right: 10px;
    margin-bottom: 10px;
}

#navlinks {
    display: flex;
    justify-content: center;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.title {
    text-align: center;
}